In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#Read CSV file
skylineout=pd.read_csv(r'C:\Users\Bharath\Dropbox\PC\Desktop\BKR_DATA\221125_BKR_plasma_GA_stability\gAlb_p2_t10_BKR_407GDM_boxallinone.csv')

#Dropping the unwanted columns from the skyline output
skylineout_1=skylineout.drop(columns=['Protein','Peptide','TotalAreaRatioToGlobalStandards'])

#Rearranging the dataframe to have the replicate as index
skylineout_2=skylineout_1.pivot(index="Replicate", columns="Peptide Modified Sequence", values="Total Area Fragment")

#Calculating the sum total integrated peak area of unglycated peptides
Sum_unglycated=skylineout_2["KQTALVELVK"]+skylineout_2["QTALVELVK"]
Sum_total_1=skylineout_2["KQTALVELVK"]+skylineout_2["K[+162.1]QTALVELVK"]
Sum_total_2=skylineout_2["AEFAEVSKLVTDLTK"]+skylineout_2["AEFAEVSK[+162.1]LVTDLTK"]
Sum_total_3=skylineout_2["K[+162.1]QTALVELVK"]+skylineout_2["AEFAEVSK[+162.1]LVTDLTK"]
Sum_total_4=Sum_total_1+Sum_total_2
percent_miscleaved=skylineout_2["KQTALVELVK"]/(skylineout_2["QTALVELVK"]+skylineout_2["KQTALVELVK"])*100

#Appending the calcuated Sum unglycated to the dataframe
skylineout_2["Sum_total_1"]=Sum_total_1
skylineout_2["Sum_total_2"]=Sum_total_2
skylineout_2["Sum_total_3"]=Sum_total_3
skylineout_2["Sum_total_4"]=Sum_total_4

#Calculating %glycation
percent_glycation_1=skylineout_2["K[+162.1]QTALVELVK"]/skylineout_2["Sum_total_1"]*100
percent_glycation_2=skylineout_2["AEFAEVSK[+162.1]LVTDLTK"]/skylineout_2["Sum_total_2"]*100
percent_glycation_3=Sum_total_3/Sum_total_4*100

#Appending the calcuated %glycation to the dataframe
skylineout_2["%gALB_kQTALVELVK"]=percent_glycation_1
skylineout_2["%gALB_AEFAEVSkLVTDLTK"]=percent_glycation_2
skylineout_2["%gALB_total"]=percent_glycation_3
skylineout_2["% Miscleaved"]=percent_miscleaved

#Dropping the unwanted columns 
skylineout_3=skylineout_2.drop(columns=['KQTALVELVK', 'K[+162.1]QTALVELVK', 'QTALVELVK', 'Sum_total_1'])
skylineout_3=skylineout_2.drop(columns=['KQTALVELVK', 'K[+162.1]QTALVELVK', 'QTALVELVK', 'Sum_total_1','AEFAEVSKLVTDLTK','AEFAEVSK[+162.1]LVTDLTK','Sum_total_2','Sum_total_3','Sum_total_4'])

#Reindexing and renamimg the column of the dataframe
skylineout_4=skylineout_3.rename_axis(None, axis=1)
skylineout_5=skylineout_4.rename_axis(None, axis=0)
skylineout_6=skylineout_5.reset_index()
Final_report=skylineout_6.rename(columns={"index":"Sample"})

#Output Final report
Final_report

,Sample,%gALB_kQTALVELVK,%gALB_AEFAEVSkLVTDLTK,%gALB_total,% Miscleaved
0,407GDM_Box_1_Serum_01,21.593503,2.040830,5.337738,1.430374
1,407GDM_Box_1_Serum_02,36.356137,4.134160,20.368900,1.171827
2,407GDM_Box_1_Serum_03,8.834939,1.593176,2.984188,1.595396
3,407GDM_Box_1_Serum_04,7.305655,1.364305,2.378487,1.569501
4,407GDM_Box_1_Serum_05,9.478110,1.662053,3.361855,1.611436
...,...,...,...,...,...
571,407GDM_Box_6_Serum_92,20.713013,2.160723,5.344444,1.417186
572,407GDM_Box_6_Serum_93,17.598209,1.955666,5.007162,1.495518
573,407GDM_Box_6_Serum_94,18.389662,4.005324,6.821721,0.846964
574,407GDM_Box_6_Serum_95,9.738461,1.580291,3.212832,1.423894
575,407GDM_Box_6_Serum_96,19.619679,1.993624,5.131385,1.463952

In [14]:
#Output CV %gALB
Percent_CV=(Final_report.std()/Final_report.mean())*100
Percent_CV

%gALB_kQTALVELVK         34.460554
%gALB_AEFAEVSkLVTDLTK    29.252960
%gALB_total              51.126831
% Miscleaved             11.983310
dtype: float64

In [15]:
Final_report.to_excel(r'C:\Users\Bharath\Dropbox\PC\Desktop\BKR_DATA\221125_BKR_plasma_GA_stability\GA_407GDM_boxallinone.xlsx')

In [7]:
gALB_grrdy=grouping_prep(Final_report,"Sample")
gALB_grrdy

   Sample  %gALB_kQTALVELVK RepID  %gALB_AEFAEVSkLVTDLTK  % Miscleaved
0       1          6.937601     1              26.358260      7.259040
1       1          7.209709     2              42.888027      7.633485
2       1          7.329963     3              49.609680      7.815043
3       1          6.745564     4              55.784354      7.432123
4       2          1.113721     1              22.251949      7.073139
5       2          0.830686     2              13.934173      6.995781
6       2          1.152642     3              22.270387      6.933680
7       2          5.012970     4              42.866132      8.071126
8       3          6.593539     1              19.396783      7.674261
9       3          7.336968     2              23.232685      7.385482
10      3          7.164644     3              61.373391      7.015293
11      3          7.237638     4              38.297872      6.562886
12      4          6.744986     1              18.756429      7.373134
13      4          6.421711     2              16.483130      6.942650
14      4          6.350523     3              25.385148      7.186160
15      4          7.478173     4               8.789266      6.548407
16      5          3.629866     1               1.557791      2.214936
17      5          3.468602     2               1.594797      2.308718
18      5          3.680775     3               1.525584      2.353645
19      5          3.795908     4               1.600284      2.387087
20      6          3.475406     1               1.957973      3.682037
21      6          3.072189     2               1.726074      3.938106
22      6          2.929901     3               1.895270      3.817189
23      6          3.477315     4               1.878144      3.871750
24      7          5.146199     1               1.938997      2.487189
25      7          5.090157     2               1.960680      2.572405
26      7          4.980217     3               1.858302      2.777240
27      7          5.167055     4               1.942193      2.822571
28      8          3.427739     1               1.826374      3.791156
29      8          2.999419     2               1.730139      3.701699
30      8          3.479411     3               1.856897      3.629434
31      8          3.029999     4               1.816453      3.725523
32     A1          5.121029     1              37.354332      7.293090
33     A2         48.725171     1              32.101094      7.289397
34     B1          3.862375     1               1.448095      2.727623
35     B2          1.962488     1               1.736042      4.314260

In [11]:
gALB_grrdy_m=gALB_grrdy.groupby(['Sample']).mean()

In [12]:
gALB_grrdy_m

        %gALB_kQTALVELVK  %gALB_AEFAEVSkLVTDLTK  % Miscleaved
Sample
1               7.055709              43.660080      7.534923
2               2.027505              25.330660      7.268431
3               7.083197              35.575183      7.159480
4               6.748848              17.353493      7.012588
5               3.643788               1.569614      2.316097
6               3.238703               1.864365      3.827271
7               5.095907               1.925043      2.664851
8               3.234142               1.807466      3.711953
A1              5.121029              37.354332      7.293090
A2             48.725171              32.101094      7.289397
B1              3.862375               1.448095      2.727623
B2              1.962488               1.736042      4.314260

In [13]:
gALB_grrdy_s=gALB_grrdy.groupby(['Sample']).std()
gALB_grrdy_s

        %gALB_kQTALVELVK  %gALB_AEFAEVSkLVTDLTK  % Miscleaved
Sample
1               0.263989              12.679969      0.241427
2               1.995475              12.331753      0.538162
3               0.333991              19.035392      0.480552
4               0.515626               6.845418      0.356126
5               0.135883               0.034897      0.074694
6               0.280506               0.098373      0.108716
7               0.083683               0.045509      0.160849
8               0.254562               0.054348      0.066763
A1                   NaN                    NaN           NaN
A2                   NaN                    NaN           NaN
B1                   NaN                    NaN           NaN
B2                   NaN                    NaN           NaN

In [14]:
gALB_grrdy_cv=gALB_grrdy_s/gALB_grrdy_m*100

In [15]:
gALB_grrdy_cv

        %gALB_kQTALVELVK  %gALB_AEFAEVSkLVTDLTK  % Miscleaved
Sample
1               3.741496              29.042476      3.204104
2              98.420248              48.683111      7.404102
3               4.715259              53.507503      6.712107
4               7.640214              39.446915      5.078377
5               3.729161               2.223256      3.224994
6               8.661047               5.276498      2.840558
7               1.642162               2.364050      6.035940
8               7.871093               3.006881      1.798584
A1                   NaN                    NaN           NaN
A2                   NaN                    NaN           NaN
B1                   NaN                    NaN           NaN
B2                   NaN                    NaN           NaN